page-publieksprijs {
	ion-spinner * {
		width: 20px;
		height: 20px;
	}

	.ppOmschrijving{
		padding: 12px;

		h3{
			margin-top: 0;
		}
	}

	.stemronde{
		background-color: color($colors, primary);
		color: white;

		ion-card-header{
			color: white;
		}
	}

	.geen_stemronde{
		background-color: lightgoldenrodyellow;
	}
}
