<ion-header>
  <ion-navbar color=primary>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>agenda</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="adWrapper" *ngIf="ads !== undefined && ads.leader !== undefined">
    <div>Advertentie</div>
    <img src="https://beta.klankwijzer.nl/media/advertenties/{{ads.leader.advertentie}}" />
  </div>
  <ion-list>
    <ion-item no-lines *ngFor="let post of posts" (click)="readAgendaArticle(post.identifier)">
        <div class="articleList">
          	<div class="articleImage">
            	<img src="https://beta.klankwijzer.nl/media/{{post.afbeelding}}" />
          	</div>
          	<div class="articleInfo">
	            <div class="articleCategory">
	              	<span class="category-bullet bullet-{{post.categorie_slug}}"></span>
	            </div>
	            <div class="articleDate" [innerHtml]="post.begindata[0]"></div>
	            <div class="articleLocation">
	            	<span [innerHtml]="post.plaats"></span> &bull; <span [innerHtml]="post.locatie"></span>
	            </div>
            	<h2 text-wrap [innerHtml]="post.titel"></h2>
          	</div>
        </div>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < nPages">
    <ion-infinite-scroll-content loadingText="Agenda wordt geladen...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
