page-vacature-details {
	.articleWrapper{
		padding: 16px;
	}

	.articleCategory{
		width: 100%;
		height: 1em;
		margin-bottom: 5px;
	}

	.category-bullet{
		height: 1rem;
		width: 67%;
		border-radius: 0 5px 5px 0;
		float: left;
	}

	h1{
		margin-top: 5px;
		margin-bottom: 5px;
	}

	.articleDate, .articleClose{
		color: #555555;
		font-weight: bold;
	}

	.articleClose{
		margin-bottom: 5px;
	}

	.articleInfo{
		padding: 10px 0;
		margin: 10px 0;
		border-top: 1px solid #dedede;
		border-bottom: 1px solid #dedede;
	}

	td:first-child{
		padding-right: 10px;
	}
}
